*{
    @import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
    font-family: "Reddit Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #d6eaf5;
   
    
}
.first{
    width:220px;
    height: 100vh;
    border:0.0001px solid #375E97;
   background-color:#375E97;
   
}

.basictext{
    margin-left:15px;
    color: black;
    font-size:1.3em;
    display: flex;
   margin-top: 10px;
    justify-content: space-around;
    flex-direction: column;
}

.basictext li{
    color: wheat;
    margin-top: 5px;
    text-decoration: none;
    margin-left:20px;
    list-style-type: none;

    
}
.basictext li a{
    color:whitesmoke;
    text-decoration: none;
}
.basictext li a:hover{
    color: black;
}
.main
{
   width: 100%;
   height: 100vh;

   display: flex;
   flex-direction: row;
}
.second{
    height:500px;
    width: 1000px;
  
    display: flex;
    align-items: center;
    justify-content: center;
}












.image {
    height: 35%;
    width: 100%;
    background-color: #4071ed;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;

    justify-content: center;
}

.image img {
    margin-top: 15px;
    border: 2px solid wheat;
    outline:3px solid  #4071ed;
    border-radius: 50%;

}

.container {
    height: 350px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 4px black;
}

.text {
    height: 65%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text .pp {
    font-size: 25px;
    margin-bottom: 5px;
}

.icon {
    margin-top: 10px;
    font-size: 25px;
margin-bottom: 10px;
}

.buttons button {
    height: 30px;
    width: 90px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #3d6ae2;
    color: whitesmoke;

}
.btn{
    margin-right:20px;
}